// vars
$width: 19em;
$gap-height: 2em;
$radius: .2em;
$word-selected-bgcolor: #1e1e1e;
$word-bgcolor: #000000;

// mixins
@mixin word-style() {
  padding: 0 .2em;
  margin: .1em;
  border-radius: $radius;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #6e6e6e;
  font-family: Palanquin;
  font-size: 1em;
  font-weight: 200;
}

#content-container {
  width: 100%;
  height: 100%;
}

.section-container {
  background-color: #3e3e3e;
  margin: 0 auto;
  width: $width;
  margin-bottom: $gap-height;
  padding: .5em;
  border-radius: $radius;
  overflow: hidden;
}

#title-container {
  text-align: center;
  font-weight: 700;
}

#inputtextarea {
  border-radius: .5em;
  padding: .1em;
}

#words {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.word-container {
  display: inline-block;
  cursor: pointer;
}

.word {
  @include word-style();
  background-color: $word-bgcolor;
}

.word:hover {
  background-color: $word-selected-bgcolor;
}

.word-selected {
  @include word-style();
  background-color: $word-selected-bgcolor;
  border: .1em solid #ffffff;
}

.word-selected:hover {
  background-color: $word-bgcolor;
}
